{# Reputation System [TheMasterNico] #}
{# Agregar un panel cuando se ve el perfil de un usuario #}
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">
			{{ lang('REPUTATION') }}
		</h3>
	</div>
	<div class="panel-body">
		{% if loops.reputation %}
			{% for TheRep in loops.reputation %}
				<div class="panel post-body">
					<div style="padding: 10px 20px; margin: 0 0 20px; border-left: 5px solid #eee; border-left: 3px solid {% if TheRep.ACTION == 1 %}green{% else %}red{% endif %};">
							<div class="panel-body no-padding badger-{% if TheRep.ACTION == 1 %}success" data-badger="+{% else %}danger" data-badger="-{% endif %}{{ TheRep.POWER }}">
								<div class="row no-margin post-flex">
									<div class="col-md-3 col-xs-12 post-info post-info-left hidden-xs ">
										<div class="row no-margin-xs">
											<dl class="col-sm-12 col-xs-6 no-margin-xs no-padding-xs">
												<dt class="avatar text-center rounded">
													{% if TheRep.AVATAR %}
														{{ TheRep.AVATAR }}
													{% else %}
														<img src="http://i.imgur.com/vaUVTlF.jpg" alt="No avatar" />
													{% endif %}
												</dt>
											</dl>
										</div>
									</div>
									<div class="col-md-9 col-xs-12 post-content">
										<div class="row post-head no-margin-bottom">
											<div class="col-md-6 author">
												<a class="unread" href="{{ BOARD_URL }}viewtopic.php?p={{ TheRep.POST }}#p{{ TheRep.POST }}">
													<i class="fa fa-file fa-fw icon-md" aria-hidden="true"></i>
													<span class="sr-only"></span>
												</a>
												<span class="responsive-hide">{{ lang('POST_BY_AUTHOR') }} <strong>{{ TheRep.USERNAME }}</strong> &raquo; </span>{{ TheRep.TIME }}
											</div>
										</div>
										<div class="content">
											{{ TheRep.COMENTARIO }}
										</div>
									</div>
								</div>
							</div>
					</div>
				</div>
				<hr />
			{% endfor %}
		{% endif %}
		{# ---------------------------------------------------------- #}
		{% if COUNT_COMM == 0 %}
			<p>
				{{ lang('NO_COMMENT')}}
			</p>
		{% endif %}
	</div>
</div>
